// 字体
$font-large:2rem;
$font-svg:1.8rem;
$font-bigger:1.43rem;
$font-title-l:1.29rem;
$font-title:1.14rem;
$font-content-l:1.07rem;
$font-content:0.93rem;
$font-content-s:0.85rem;

// 字体颜色
$font-primary: #333;
$font-tab: #555;
$font-tertiary: #999;
$font-theme: #FF8A02;
$font-deepblue: #326AB2;
$svg-color:#969CAA;

// 边框颜色
$login-border: #D7DADF;
$login-content-border: #e1e1e1;
$login-tab-border:#DFDFDF;
$nav-border:#D0D0D0;
$nav-svg-border:#F1F1F1;
$box-border:#CECECE;
$border-dashed: #CBCDD2;

// 主题颜色
$theme-color:#FF7000;
$white-color:#fff;

// 背景颜色
$login-bg:#EFEFEF;
$box-bg: #F9F9F9;

// 表单
$input-bg: #FAFAFA;
$input-border: #E1E1E1;
